<div class="navbar">
	<ul>
		<li><%= link_to "Food Fight!", root_path %></li> |
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Battle", foodfight_path %></li>
		
		<li class="login">
		<% if user_signed_in? %>
		
		Logged in as <strong><%= current_user.email %></strong> |
		
		<%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		<% else %>
		<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> | 
		<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
		<% end %>
	</ul>
</div>

<div class="content2">
	<div class="heading">
		<h1>Sign Up</h1>
	</div>

	<br />
	<br />
	<br />
	<div class="words">
	
	<p style="font-size: 30px;">Register to FoodFight now!</p>
	<br />
	<br />
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <br />

    <%= f.button :submit, "Sign up" %>

<% end %>

<% # render "devise/shared/links" %>
<br />
<br />
<br />
</div>
