<div class="navbar">
	<ul>
		&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
	&nbsp
		<li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Food Fight!", foodfight_path %></li>
		<li id="login"><% if user_signed_in? %>
		Logged in as <strong><%= current_user.email %></strong>.
		
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
		<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %></li>
	</ul>
</div>	

<div class="content2">
	<div class="heading">
<h1> <%= @restaurant.name %>'s <%= @food.name %></h1>
</div>
<ul>
<% @food.reviews.each do |r| %>
<li><%= r.user.email %></li>
<li><%= r.content %></li>
<li><%= r.posted_on %></li>
<%= link_to "Edit", edit_restaurant_food_review_path(@restaurant.id, @food.id, r.id) %></td>
<%= button_to "Delete", [@restaurant, @food, r], :method => :delete %></td>
<% end %>
</ul>

</div>