<body>
<div class="navbar">
	<ul>
		<li><%= link_to "Food Fight!", root_path %></li> |
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Food Fight!", foodfight_path %></li>
		<li id="login"><% if user_signed_in? %>
		Logged in as <strong><%= current_user.email %></strong> |
		
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
		<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %></li>
	</ul>
</div>

<div class="content2">
	<div class="heading">
		<h1><%= @restaurant.name %></h1>
	</div>
	
	<% @restaurant.foods.each do |f| %>
	<div class="food">
		<div class="thumb">
			<%= image_tag f.avatar.url(:medium) %></li>
		</div>
		
		<div class="details">
			<h3><%= f.name %></h3>
			<h4>Price:&nbsp<%= f.price %></h4>
			<h4>Description:&nbsp<%= f.description %></h4>
			<h4>Rating:&nbsp<%= f.rating %></h4>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Write Review", new_restaurant_food_review_path(@restaurant.id, f.id) %>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "View Reviews", restaurant_food_path(@restaurant.id, f.id)%>
		</div>
	</div>
	<% end %>

</div>
